.header-toolBar {
    display: inline-flex;
}

.header-toolBar li {
    color: #ffffff;
    cursor: pointer;
}

.header-toolBar li ul {
    /*content: "<a href='/lucouse.github.io/localComponent/QRCode/index.html'>QRCode</a>";*/
    position: absolute;
    display: none;
    box-shadow: 2px 2px 5px #929292;
    font-size: 13px;
    border-radius: 3px;
    min-width: 3em;
    max-width: 10em;
    min-height: 2em;
    background-color: #ffffff;
    padding: 4px;
    color: #000000;
    z-index: 9;
    text-shadow: none;
    font-weight: normal;
    font-style: normal;
    margin-left: -3.8em;
    margin-top: 1.5em;
}

.header-toolBar li:hover ul {
    display: inline-flex;
}

.list-vertical {
    margin-left: -2em;
}

.list-vertical li {
    list-style: none;
    margin: 0.25em;
}

.list-vertical li:not(:last-child) {
    border-bottom: 0.1em solid #EBEBEB;
}

.help-page-left-menu {
    width: 7em;
    height: 100%;
    float: left;
    position: fixed;
}

.help-page-right-content {
    float: left;
    min-width: calc(100% - 8em);
    max-width: calc(100% - 11em);
    margin: 0.5em 0.5em 0.5em 8em;
}

.help-page-right-content div h3 a {
    padding-top: 3em;
}

.component-detail-content {
    min-height: 4em;
    max-height: 20em;
    width: 100%;
}

#icon-panel[version]:after {
    content: attr(version);
    font-size: 0.3em;
    position: absolute;
    display: inline-flex;
    width: 3em;
    min-height: 2em;
    padding: 4px;
    color: #000000;
    z-index: 9;
    text-shadow: none;
    font-style: normal;
    margin: 4em 0 0 -1.7em;
}

#contact-us li {
    border: none;
    margin-left: -0.4em;
}

#contact-us li div div i:before {
    text-shadow: none;
}

.github-icon:before {
    color: #000000;
}

.wechat-icon:before {
    color: #00B900;
}

.chrome-icon:before {
    color: #ECEC00;
}

.firefox-icon:before {
    color: #FF8000;
}

.ie-icon:before {
    color: #0080FF;
}

.edge-icon:before {
    color: #0080FF;
}

.popUp-toolbar-container {
    margin: 0.5em;
}

.custom-popUp-win {
    min-width: 10em;
    max-width: calc(100% - 60px);
    min-height: 10em;
    max-height: calc(100% - 60px);
    background-color: #ffffff;
    box-shadow: 2px 2px 8px #929292;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 60px;
    margin: 60px auto 0 auto;
    padding: 0.5em;
}

.component-tooBar {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.main-panel {
    width: 20em;
    height: 7em;
    box-shadow: 2px 2px 8px #EBEBEB;
    margin: 1em 0.4em 0 0.4em;
    display: inline-table;
    padding: 0.4em;
    position: relative;
    background-color: #ffffff;
}

#icon-panel div i {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    cursor: pointer;
    font-size: 17px;
    color: #37C6C0;
    text-shadow: 2px 2px 6px #6699CC;
}

@keyframes iconHover {
    from {
        font-size: 17px;
    }
    to {
        font-size: 20px;
    }
}

@-moz-keyframes iconHover {
    from {
        font-size: 20px;
    }
    to {
        font-size: 23px;
    }
}

@-webkit-keyframes iconHover {
    from {
        font-size: 20px;
    }
    to {
        font-size: 23px;
    }
}

@-khtml-keyframes iconHover {
    from {
        font-size: 20px;
    }
    to {
        font-size: 23px;
    }
}

@-ms-keyframes iconHover {
    from {
        font-size: 20px;
    }
    to {
        font-size: 23px;
    }
}

@-o-keyframes iconHover {
    from {
        font-size: 20px;
    }
    to {
        font-size: 23px;
    }
}

h3 {
    margin: 0.3em;
}

.panel {
    display: inline-flex;
    height: calc(100% - 30px);
    width: 100%;
}

.project-info {
    display: inline-flex;
    height: 100%;
    font-family: "Microsoft YaHei UI";
    margin-left: 5px;

}

.project-info :nth-child(1) {
    margin: 0px;
    padding: 0px;
}

.project-info :nth-child(2) {
    border: 0.1em solid #ffffff;
    padding: 0.2em;
    border-radius: 0.2em;
    display: inline-flex;
    font-size: 0.4em;
    height: 1.2em;
    line-height: 1em;
    bottom: 0.8em;
    left: 20em;
    position: absolute;
}

.project-info :nth-child(3) {
    font-size: 0.5em;
}

.list-Landscape li {
    list-style: none;
    float: left;
    padding: 0.3em;
    font-size: 0.8em;
    color: darkcyan;
    margin-left: 0.3em;
}

.list-Landscape li:not(:last-child) {
    border-right: 0.1em solid #EBEBEB;
}

.footer-ul {
    padding-top: 0.5em;
}

.container {
    margin: 2.3em 0 3.5em 0;
    width: 100%;
}

html body, ul {
    padding: 0px;
    margin: 0px;
    font-family: Microsoft Yahei, "微软雅黑", "宋体", System, Arial;
    box-sizing: border-box;
}

/**
百度意见反馈,置顶按钮
 */
html #hm_t_undefined .hm-t-feedback-trigger, html #hm_t_undefined .hm-t-go-top {
    right: 1em;
}

html #hm_t_undefined .hm-t-feedback-trigger {
    background: #00343f;
}

a {
    text-decoration: none;
    color: inherit;
}

a:link {
}

a:visited {
    color: inherit;
    text-decoration: none;
}