.component-detail-content {
    min-height: 4em;
    max-height: 20em;
    width: 100%;
}

#icon-panel[version]:after {
    content: attr(version);
    font-size: 0.3em;
    position: absolute;
    display: inline-flex;
    width: 3em;
    min-height: 2em;
    padding: 4px;
    color: #000000;
    z-index: 9;
    text-shadow: none;
    font-style: normal;
    margin-left: -1.7em;
    margin-top: 4em;
}

.wechat-icon:before {
    color: #00B900;
}

.chrome-icon:before {
    color: #ECEC00;
}

.firefox-icon:before {
    color: #FF8000;
}

.ie-icon:before {
    color: #0080FF;
}

.edge-icon:before {
    color: #0080FF;
}

.popUp-toolbar-container {
    margin: 0.5em;
}

.custom-popUp-win {
    min-width: 10em;
    max-width: calc(100% - 60px);
    min-height: 10em;
    max-height: calc(100% - 60px);
    background-color: #ffffff;
    box-shadow: 2px 2px 8px #929292;
    position: fixed;
    left: 0px;
    right: 0px;
    top: 60px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

.component-tooBar {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.main-panel {
    width: 20em;
    height: 7em;
    box-shadow: 2px 2px 8px #EBEBEB;
    margin-top: 1em;
    display: inline-table;
    margin-left: 0.4em;
    margin-right: 0.4em;
    padding: 0.4em;
    position: relative;
    background-color: #ffffff;
}

.tooltip:after {
    content: attr(data-tooltip);
    position: absolute;
    display: none;
    box-shadow: 2px 2px 5px #929292;
    font-size: 13px;
    border-radius: 3px;
    min-width: 3em;
    max-width: 10em;
    min-height: 2em;
    background-color: #ffffff;
    padding: 4px;
    color: #000000;
    z-index: 9;
    text-shadow: none;
    font-weight: normal;
    font-style: normal;
    margin-left: -1.8em;
}

.tooltip:hover:after {
    display: inline-flex;
    animation: tooltipAnimation 100ms ease-in;
    animation-fill-mode: forwards;
}

@keyframes tooltipAnimation {
    0% {
        margin-top: 0em;
    }
    100% {
        margin-top: -3em;
    }
}

@-o-keyframes tooltipAnimation {
    0% {
        margin-top: 0em;
    }
    100% {
        margin-top: -3em;
    }
}

@-ms-keyframes tooltipAnimation {
    0% {
        margin-top: 0em;
    }
    100% {
        margin-top: -3em;
    }
}

@-khtml-keyframes tooltipAnimation {
    0% {
        margin-top: 0em;
    }
    100% {
        margin-top: -3em;
    }
}

@-webkit-keyframes tooltipAnimation {
    0% {
        margin-top: 0em;
    }
    100% {
        margin-top: -3em;
    }
}

@-moz-keyframes tooltipAnimation {
    0% {
        margin-top: 0em;
    }
    100% {
        margin-top: -3em;
    }
}

#icon-panel {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    display: inline-block;
    text-align: center;
    position: relative;
}

#icon-panel div i:hover {
    animation: iconHover 30ms ease-in;
    animation-fill-mode: forwards;
}

#icon-panel div i:active {
    color: #4B0082;
}

#icon-panel div i {
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    cursor: pointer;
    font-size: 17px;
    color: #66CCCC;
    text-shadow: 2px 2px 6px #6699CC;
}

@keyframes iconHover {
    from {
        font-size: 17px;
    }
    to {
        font-size: 20px;
    }
}

@-moz-keyframes iconHover {
    from {
        font-size: 20px;
    }
    to {
        font-size: 23px;
    }
}

@-webkit-keyframes iconHover {
    from {
        font-size: 20px;
    }
    to {
        font-size: 23px;
    }
}

@-khtml-keyframes iconHover {
    from {
        font-size: 20px;
    }
    to {
        font-size: 23px;
    }
}

@-ms-keyframes iconHover {
    from {
        font-size: 20px;
    }
    to {
        font-size: 23px;
    }
}

@-o-keyframes iconHover {
    from {
        font-size: 20px;
    }
    to {
        font-size: 23px;
    }
}

h3 {
    margin: 0px;
}

.panel {
    display: inline-flex;
    height: calc(100% - 30px);
    width: 100%;
}

.project-info {
    display: inline-flex;
    height: 100%;
    font-family: "Microsoft YaHei UI";
    margin-left: 5px;

}

.project-info :nth-child(1) {
    margin: 0px;
    padding: 0px;
}

.project-info :nth-child(2) {
    border: 0.1em solid #ffffff;
    padding: 0.2em;
    border-radius: 0.2em;
    display: inline-flex;
    font-size: 0.4em;
    height: 1.2em;
    line-height: 1em;
    bottom: 0.8em;
    right: calc(100% - 22em);
    position: absolute;
}

.project-info :nth-child(3) {
    font-size: 0.5em;
}

.header {
    position: fixed;
    width: 100%;
    height: 40px;
    background-color: blue;
    color: #fff;
    top: 0px;
    box-shadow: 2px 2px 5px #666666;
    z-index: 99;
}

.footer-ul li {
    list-style: none;
    float: left;
    margin-left: 0.3em;
    border-right: 0.1em solid #EBEBEB;
    padding: 0.3em;
    font-size: 0.8em;
    color: darkcyan;
}

.footer-ul li:last-child {
    border: none;
}

.footer {
    position: fixed;
    width: 100%;
    height: 3em;
    bottom: 0em;
    background-color: ghostwhite;
}

.container {
    margin-top: 2.3em;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 3.5em;
    width: 100%;
}

html body {
    padding: 0px;
    margin: 0px;
    font-family: Microsoft Yahei, "微软雅黑", "宋体", System, Arial;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:link {
    text-underline: none;
}

a:visited {
    color: inherit;
    text-decoration: none;
}