#path880 {
    animation: circleLoader 10s infinite;
    transform-origin: 91% 171%;
}

@-moz-keyframes circleLoader {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}