.popUpWin{
    min-width: 20em;
    max-width: 30em;
    min-height: 10em;
    max-height: 40em;
    background-color: #ffffff;
    box-shadow: 2px 2px 8px #EBEBEB;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 60px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.close-button-container{
    color: black;
    width: 1.1em;
    margin-left: calc(100% - 1.7em);
}